
## bin?
opencv/native/

# build
**/build/

# other
.cxx
.gradle
local.properties
/local.properties


# dflt by android studio
/captures
.externalNativeBuild
*.iml

## idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
