# bin?
opencv/native/

# build
**/build/

# editor
.vscode/

# other
.cxx
.gradle
local.properties
/local.properties


# dflt by android studio
/captures
.externalNativeBuild
*.iml

## idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
### debugging devices configs (otherwise mess up with paths on different machines)
/.idea/deploymentTargetSelector.xml
.DS_Store
